<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wherez My Club</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="/static/images/WMC main logo (1).png">

    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

</head>

<body>

    <main>

        <header class="site-header">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12 d-flex flex-wrap">
                        <p class="d-flex me-4 mb-0">
                            <i class="bi-activity custom-icon me-2"></i>
                            <strong class="text-dark">Welcome to Wherez My Club</strong>
                        </p>
                    </div>

                </div>
            </div>
        </header>


        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" style="margin-right: 0 !important;" href="index.html">
                    Bienvenido’26
                </a>

                <a href="ticket.html" class="btn custom-btn ms-auto">Buy Ticket</a>

                
            </div>
        </nav>


        <section class="hero-section" id="section_1">
            <div class="section-overlay"></div>

            <div class="container d-flex justify-content-center align-items-center">
                <div class="row">

                    <div class="col-12 mt-auto mb-5 text-center">
                        <small>Bienvenido’26</small>

                        <h1 class="text-white mb-5">New voyage begins</h1>

                        <a class="btn custom-btn smoothscroll" href="#info">Let's begin</a>
                    </div>

                    <div class="col-lg-12 col-12 mt-auto d-flex flex-column flex-lg-row text-center">
                        <div class="date-wrap">
                            <h5 class="text-white">
                                <i class="custom-icon bi-clock me-2"></i>
                                20<sup>th</sup>, July 2023
                            </h5>
                        </div>

                        <div class="location-wrap mx-auto py-3 py-lg-0">
                            <h5 class="text-white">
                                <i class="custom-icon bi-geo-alt me-2"></i>
                                Hex, Andheri west
                            </h5>
                        </div>

                        <div class="social-share">
                            <ul class="social-icon d-flex align-items-center justify-content-center">
                                <span class="text-white me-3">Share:</span>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link">
                                        <span class="bi-facebook"></span>
                                    </a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link">
                                        <span class="bi-twitter"></span>
                                    </a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link">
                                        <span class="bi-instagram"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="video-wrap">
                <video autoplay="" loop="" muted="" class="custom-video" poster="">
                    <source src="/static/video/pexels_2022395.mp4" type="video/mp4">

                    Your browser does not support the video tag.
                </video>
            </div>
        </section>

        <section class="pricing-section section-padding section-bg" id="info">
            <div class="container">
                <div class="row">

                    <!-- <div class="col-lg-8 col-12 mx-auto">
                        <h2 class="text-center mb-4">Plans, you' love</h2>
                    </div> -->

                    <div class="col-12">
                        <div class="pricing-thumb">
                            <div class="d-flex">
                                <div>
                                    <h3>
                                        <small>Early Bird</small> 
                                        ₹1500/-</h3>

                                    <p style="color: #000;">Including good things:</p>
                                </div>
                            </div>

                            <ul class="pricing-list mt-3">
                                <li class="pricing-list-item" style="color: #000;">Unlimited food</li>

                                <li class="pricing-list-item" style="color: #000;">2 drinks of choice (alcoholic/non-alcoholic)</li>

                            </ul>
                            <p class="text-black">
                                <i class="bi-calendar me-2"></i>
                                20<sup>th</sup>, July 2023
                            </p>
                            <p class="text-black">
                                <i class="bi-clock me-2"></i>
                                9 Pm Onwards
                            </p>
                            <p class="text-black">
                                <i class="bi-geo-alt me-2"></i>
                                Hex, Andheri west
                            </p>
                            <b>
                            <a class="link-fx-1 color-contrast-higher mt-4 text-black" href="#section_6">
                                <span>Buy Ticket</span>
                                <svg class="icon" viewBox="0 0 32 32" aria-hidden="true">
                                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                        <circle cx="16" cy="16" r="15.5"></circle>
                                        <line x1="10" y1="18" x2="16" y2="12"></line>
                                        <line x1="16" y1="12" x2="22" y2="18"></line>
                                    </g>
                                </svg>
                            </a>
                            </b>
                        </div>
                    </div>


                </div>
            </div>
        </section>


        <section class="contact-section section-padding" id="section_6">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <h2 class="text-center mb-4">Interested? Book now</h2>
                        <form class="custom-form contact-form mb-5 mb-lg-0" method="post" role="form" id="pass_form">
                            <div class="contact-form-body">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <input type="text" name="contact-name" id="contact-name"
                                            class="form-control" placeholder="Full name" required>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <input type="email" name="contact-email" id="contact-email"
                                            pattern="[^ @]*@[^ @]*" class="form-control"
                                            placeholder="Email address" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <input type="text" name="mobile-number" id="mobile-number"
                                            class="form-control" placeholder="Mobile Number" pattern="[0-9]*" required>    
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <input type="number" name="pass_qty" id="pass_qty"
                                        class="form-control" placeholder="No. of pass" min="0" max="10" required>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-10 col-8 mx-auto">
                                    <button type="submit" class="form-control"><b>Buy</b></button>
                                </div>
                            </div>
                        </form>                        
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_M87Q5j6XV8uemr" async> </script> </form> -->


    <footer class="site-footer">
        <div class="site-footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12">
                        <h2 class="text-white mb-lg-0">Wherez My Club</h2>
                    </div>

                    <div class="col-lg-6 col-12 d-flex justify-content-lg-end align-items-center">
                        <ul class="social-icon d-flex justify-content-lg-end">
                            <li class="social-icon-item">
                                <a href="instagram://share?url=https://www.bakershub.in" class="social-icon-link">
                                    <span class="bi-instagram"></span>
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-facebook"></span>
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-twitter"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-footer-bottom">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-12 mt-5">
                        <p class="copyright-text">Copyright © 2023 Wherez My Club</p>
                        <p class="copyright-text">Designed by: <a href="">Divyam Shah</a></p>
                    </div>                    
                </div>
            </div>
        </div>

    </footer>

      

    <div class="modal fade" id="modal1" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalCenterTitle">1 Pass</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <p><b>Total amount payable - <span class="text-black">₹<script>document.write(1500 * 1);</script>/-</span></b></p>
                    <p><b>Money is not refundable!</b></p>
                </div>
            </div>
            <div class="modal-footer">
                <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_M9gLhvrj5rm8Km" async> </script> </form>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="modal2" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalCenterTitle">2 Passes</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <p><b>Total amount payable - <span class="text-black">₹<script>document.write(1500 * 2);</script>/-</span></b></p>
                    <p><b>Money is not refundable!</b></p>
                </div>
            </div>
            <div class="modal-footer">
                <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_M9gODLVcWJQYvU" async> </script> </form>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="modal3" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalCenterTitle">3 Passes</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <p><b>Total amount payable - <span class="text-black">₹<script>document.write(1500 * 3);</script>/-</span></b></p>
                    <p><b>Money is not refundable!</b></p>
                </div>
            </div>
            <div class="modal-footer">
                <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_M9gPk2vfRPXefU" async> </script> </form>                
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="modal4" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalCenterTitle">4 Passes</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <p><b>Total amount payable - <span class="text-black">₹<script>document.write(1500 * 4);</script>/-</span></b></p>
                    <p><b>Money is not refundable!</b></p>
                </div>
            </div>
            <div class="modal-footer">
                <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_M9gSLQ1oJQZ6KY" async> </script> </form>     
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="modal5" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalCenterTitle">5 Passes</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <p><b>Total amount payable - <span class="text-black">₹<script>document.write(1500 * 5);</script>/-</span></b></p>
                    <p><b>Money is not refundable!</b></p>
                </div>
            </div>
            <div class="modal-footer">
                <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_M9gbfAh291v07F" async> </script> </form>                            
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="modal6" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalCenterTitle">6 Passes</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <p><b>Total amount payable - <span class="text-black">₹<script>document.write(1500 * 6);</script>/-</span></b></p>
                    <p><b>Money is not refundable!</b></p>
                </div>
            </div>
            <div class="modal-footer">
                <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_M9gXcb9TRQSwu4" async> </script> </form>             
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="modal7" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalCenterTitle">7 Passes</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <p><b>Total amount payable - <span class="text-black">₹<script>document.write(1500 * 7);</script>/-</span></b></p>
                    <p><b>Money is not refundable!</b></p>
                </div>
            </div>
            <div class="modal-footer">
                <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_M9gZsewk1XljZK" async> </script> </form>           
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="modal8" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalCenterTitle">8 Passes</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <p><b>Total amount payable - <span class="text-black">₹<script>document.write(1500 * 8);</script>/-</span></b></p>
                    <p><b>Money is not refundable!</b></p>
                </div>
            </div>
            <div class="modal-footer">
                <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_M9gchAq4kwsZm9" async> </script> </form>            
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="modal9" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalCenterTitle">9 Passes</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <p><b>Total amount payable - <span class="text-black">₹<script>document.write(1500 * 9);</script>/-</span></b></p>
                    <p><b>Money is not refundable!</b></p>
                </div>
            </div>
            <div class="modal-footer">
                <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_M9gdlTn0UpZW7A" async> </script> </form>           
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="modal10" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalCenterTitle">10 Passes</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <p><b>Total amount payable - <span class="text-black">₹<script>document.write(1500 * 10);</script>/-</span></b></p>
                    <p><b>Money is not refundable!</b></p>
                </div>
            </div>
            <div class="modal-footer">
                <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_M9geVkeS2UZqGd" async> </script> </form>            
            </div>
          </div>
        </div>
    </div>
    


    <!-- JAVASCRIPT FILES -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.sticky.js"></script>
    <script src="/static/js/click-scroll.js"></script>
    <script src="/static/js/custom.js"></script>
    <script>
        function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        let expires = "expires="+d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        document.getElementById("pass_form").addEventListener("submit", function(event) {
          event.preventDefault();
    
          var contact_name = document.getElementById("contact-name").value;
          var contact_email = document.getElementById("contact-email").value;
          var mobile_number = document.getElementById("mobile-number").value;
          var passCount = parseInt(document.getElementById("pass_qty").value);

          setCookie("contact_name", contact_name, 15);
          setCookie("contact_email", contact_email, 15);
          setCookie("mobile_number", mobile_number, 15);
          setCookie("pass_count", passCount, 15);
          setCookie("pass_amt", "1500", 15);

    
          openModal(passCount);
        });
    
        function openModal(passCount) {
          var modalId = "modal" + passCount;
          var modal = document.getElementById(modalId);
    
          if (modal) {
            // Open the modal
            $(modal).modal('show');
          } else {
            console.log("No modal available for the given pass count.");
          }
        }
    </script>
</body>

</html>