<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wherez My Club</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/css/bootstrap-icons.css" rel="stylesheet">
    <style>

      .action{
        color: white; 
        margin-top: 280px;      
      }
    </style>
</head>
<body style="background-color: rgb(255, 153, 0); height: 100%;">
    <div class="h-100 d-flex align-items-center justify-content-center" >
      <div class="text-center action">
          <h1>Already Entered</h1>
        </div>
      </div>
    
</body>
</html>