<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wherez My Club</title>
    <link rel="icon" href="/static/images/WMC main logo (1).png">


    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700&display=swap" rel="stylesheet">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/css/bootstrap-icons.css" rel="stylesheet">


    <link href="/static/css/style.css" rel="stylesheet">


</head>

<body>

    <main>

        {% include 'header.html' %}


        <section class="ticket-section section-padding">
          <div class="section-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-12 mx-auto mt-5">
                        <h2 class="text-center mb-4" style="color: var(--secondary-color);">Interested? Let's talk</h2>
                        
                        {% if success == 1 %}
                        <div class="alert alert-success my-5" role="alert">
                            <b>Your message has been sent!</b>
                        </div>
                        {% endif %}
                        <form class="custom-form contact-form mb-5 mb-lg-0" method="post" role="form">
                            {% csrf_token %}
                                    <div class="contact-form-body">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <input type="text" name="contact-name" id="contact-name"
                                                    class="form-control" placeholder="Full name" required>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-12">
                                                <input type="email" name="contact-email" id="contact-email"
                                                    class="form-control"
                                                    placeholder="Email address" required>
                                            </div>
                                        </div>

                                        <input type="text" name="contact-company" id="contact-company"
                                            class="form-control" placeholder="Company" required>

                                        <textarea name="contact-message" rows="3" class="form-control"
                                            id="contact-message" name="contact-message" placeholder="Message"
                                            required ></textarea>

                                        <div class="col-lg-4 col-md-10 col-8 mx-auto">
                                            <button type="submit" class="form-control">Send message</button>
                                        </div>
                                    </div>
                                </form>
                    </div>
                </div>
            </div>        
        </section>

    </main>

        {% include "footer.html" %}



    <!-- JAVASCRIPT FILES -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.sticky.js"></script>
    <script src="/static/js/click-scroll.js"></script>
    <script src="/static/js/custom.js"></script>
    <script src="/static/js/owl-carousel.js"></script>
    <script src="/static/js/partners-carosel.js"></script>


  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 

</body>

</html>