<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Event Edit</title>
    <link rel="icon" href="/static/images/WMC main logo (1).png">


    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700&display=swap" rel="stylesheet">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/css/bootstrap-icons.css" rel="stylesheet">


    <link href="/static/css/style.css" rel="stylesheet">


</head>

<body>

    <main>

        {% include 'header.html' %}

        <section class="ticket-section section-padding" style="padding-top: 50px !important;">
          <div class="section-overlay"></div>
            <div class="container">
                <div class="row mx-1">
                    <div class="col-lg-8 col-12 mx-auto mt-5 p-3" style="border: 5px solid var(--secondary-color); border-radius: 30px;">
                        <h2 class="text-center mb-4" style="color: var(--secondary-color);">{{event_data.event_name}}</h2>
                        <form id="event_form" class="custom-form contact-form mb-5 mb-lg-0" method="post" role="form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="contact-form-body">
                                <label for="event_name" class="text-white pb-1 px-1"><b>Event name</b>
                                    <small class="text-danger">*</small></label>
                                <input type="text" name="event_name" id="event_name" value="{{event_data.event_name}}"
                                class="form-control" placeholder="Event name" required>

                                <label for="event_desc" class="text-white pb-1 px-1"><b>Event Description</b>
                                    <small class="text-danger">*</small></label>
                                <textarea name="event_desc" id="event_desc" rows="5" 
                                class="form-control" placeholder="Event Description" required>{{event_data.event_desc}}</textarea>
                                    
                                <label for="event_venue" class="text-white pb-1 px-1"><b>Event Venue</b>
                                    <small class="text-danger">*</small></label>
                                <input type="text" name="event_venue" id="event_venue" value="{{event_data.event_venue}}"
                                class="form-control" placeholder="Event Venue" required>
                                

                                <label for="event_date" class="text-white pb-1 px-1"><b>Event Date</b>
                                    <small class="text-danger">*</small></label>
                                <input type="date" name="event_date" id="event_date" value="{{event_data.event_date_alt}}"
                                class="form-control" placeholder="Event Date" required>

                                <label for="event_time" class="text-white pb-1 px-1"><b>Event Time</b>
                                    <small class="text-danger">*</small></label>
                                <input type="time" name="event_time" id="event_time" value="{{event_data.event_time_alt}}"
                                class="form-control" placeholder="Event Time" required>
                                                         
                                <label for="hosts" class="text-white pb-1 px-1"><b>Host</b>
                                    <small class="text-danger">*</small></label>
                                <input type="text" name="hosts" id="hosts" value="{{event_data.host}}"
                                class="form-control" placeholder="Host" required>                                

                                <label for="collaborator" class="text-white pb-1 px-1"><b>Collaborator</b>
                                    <small class="text-danger">*</small></label>
                                <input type="text" name="collaborator" id="collaborator" value="{{event_data.collaborator}}"
                                class="form-control" placeholder="Collaborator" required>

                                <label for="free_gl" class="text-white pb-1 px-1" style="display: flex; align-items: center; margin-bottom: 24px !important;">
                                    <b>Free GL</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="checkbox" name="free_gl" id="free_gl" checked
                                    style="width: 17px; height: 17px;" placeholder="Free GL">
                                </label>

                                <label for="paid_gl" class="text-white pb-1 px-1" style="display: flex; align-items: center; margin-bottom: 24px !important;">
                                    <b>Paid GL</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="checkbox" name="paid_gl" id="paid_gl"
                                    style="width: 17px; height: 17px;" placeholder="Paid GL">
                                </label>

                                <label for="pass_price" class="text-white pb-1 px-1"><b>Pass Price</b>
                                    <small class="text-danger">* <span class="text-white">(Enter 0 if the entry is free)</span></small></label>
                                <input type="number" name="pass_price" id="pass_price" min="0" value="{{event_data.pass_price}}"
                                class="form-control" placeholder="Pass Price" required>
                                
                                <label for="gt_1" class="text-white pb-1 px-1"><b>Includes (Upto 5 points)</b>
                                    <small class="text-danger">* <span class="text-white">(or any extra information of event)</span></small></label>
                                <input type="text" name="gt_1" id="gt_1" value="{{event_data.gt_1}}"
                                class="form-control" placeholder="Buffet">
                                <input type="text" name="gt_2" id="gt_2" value="{{event_data.gt_2}}"
                                class="form-control" placeholder= "Drinks included">
                                <input type="text" name="gt_3" id="gt_3" value="{{event_data.gt_3}}"
                                class="form-control" placeholder= "Leave Blank if not needed">
                                <input type="text" name="gt_4" id="gt_4" value="{{event_data.gt_4}}"
                                class="form-control" placeholder= "Leave Blank if not needed">
                                <input type="text" name="gt_5" id="gt_5" value="{{event_data.gt_5}}"
                                class="form-control" placeholder= "Leave Blank if not needed">
                                
                                <div class="col-lg-4 col-md-10 col-8 mx-auto">
                                    <button type="submit" class="form-control">Save</button>
                                </div>
                            </div>
                        </form>                                
                    </div>
                </div>
            </div>        
        </section>

    </main>

        {% include "footer.html" %}



    <!-- JAVASCRIPT FILES -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.sticky.js"></script>
    <script src="/static/js/click-scroll.js"></script>
    <script src="/static/js/custom.js"></script>
    <script src="/static/js/owl-carousel.js"></script>
    <script src="/static/js/partners-carosel.js"></script>


  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 

</body>

</html>